/* General styling */
body {
   background: linear-gradient(to bottom, #000000, #4d4d4d); /* black to dark grey */
   color: #e0e0e0;
   font-family: "Share Tech Mono", monospace;
   margin: 0;
   padding: 0;
}


#content {
   height: auto;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   text-align: center;
   font-family: "Share Tech Mono", monospace;
   transition: filter 0.3s ease;
}


/* Cool Search Bar */
.input-container {
   position: relative;
   width: 100vw;
   max-width: 500px;
}

.input {
   color: #fff;
   font-size: 1rem;
   background-color: rgba(255, 255, 255, 0.1);
   width: 100%;
   box-sizing: border-box;
   padding: 12px 20px 12px 50px;
   border: 2px solid transparent;
   border-radius: 25px;
   transition: all 0.3s ease;
   outline: none;
   font-family: "Share Tech Mono", monospace;
}

.input:hover, .input:focus {
   border-color: black;
   box-shadow: 0 0 10px grey;
}

/* Search Icon */
.input-container .fa-search {
   position: absolute;
   left: 15px;
   top: 50%;
   transform: translateY(-50%);
   color: black;
   font-size: 1.2rem;
   pointer-events: none;
}

/* Placeholder Fade */
.input::placeholder {
   color: #aaa;
   transition: all 0.3s ease;
}

.input:focus::placeholder {
   color: white;
   opacity: 0.6;
}


h1 {
font-family: "Share Tech Mono", monospace;
   
}

.fa-solid.fa-bars {
   position: fixed; /* so it stays in place and doesn't affect scroll */
   top: 20px;
   left: 20px;
   z-index: 1000;
   font-size: 2rem; /* make it bigger */
   color: #e0e0e0;
   cursor: pointer;
   transition: transform 0.2s ease;
}

.fa-solid.fa-bars:hover {
   transform: scale(1.2); 
}












